<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
    <system.serviceModel>
        <bindings>
            <wsHttpBinding>
                <binding name="WSHttpBinding_IRegisterService">
                    <security mode="Message">
                        <transport clientCredentialType="Windows" />
                        <message clientCredentialType="Windows" />
                    </security>
                </binding>
            </wsHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://localhost:51624/RegisterService.svc"
                binding="wsHttpBinding" bindingConfiguration="WSHttpBinding_IRegisterService"
                contract="CovidServiceReference.IRegisterService" name="WSHttpBinding_IRegisterService">
                <identity>
                    <userPrincipalName value="DESKTOP-LFN3953\Tomasz Wodzynski" />
                </identity>
            </endpoint>
        </client>
    </system.serviceModel>
</configuration>