<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="BasicHttpBinding_IRegisterService" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://localhost:51624/RegisterService.svc"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IRegisterService"
                contract="CovidServiceReference.IRegisterService" name="BasicHttpBinding_IRegisterService" />
        </client>
    </system.serviceModel>
</configuration>